::backdrop {
    background-color: #000;
    opacity: 0.75;
}

html {
    scroll-behavior: smooth;
}
@keyframes move1 {
    0% { transform: translateX(0); }
    100% { transform: translateX(300px) translateY(400px); }
}
@keyframes move2 {
    0% { transform: translateX(0); }
    100% { transform: translateX(-300px) translateY(200px); }
}
@keyframes move3 {
    0% { transform: translateX(0); }
    100% { transform: translateX(600px) translateY(-400px); }
}
@keyframes wave {
    0% { transform: rotate(0deg) scale(1.2); }
    20% { transform: rotate(-30deg) scale(1.5); }
    60% { transform: rotate(50deg) scale(1.1); }
    100% { transform: rotate(0deg) scale(1); }
}
@keyframes spin {
    0% { transform: rotate(12deg); }
    80% { transform: rotate(400deg); }
    100% { transform: rotate(372deg); }
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
 @keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}
.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}
.fade-out {
    animation: fadeOut 0.5s forwards;
}
.wave {
    animation: wave 1s ease-in-out;
}
.spin {
    animation: spin 1s ease-in-out;
}
.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
